*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 30px;
    width: 30%;
    height: 450vh;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    padding: 2rem;
    background-color: grey;
    color: white;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

li{
    list-style-type: none;
}

